@{
   ViewData["Title"] = "Login"; 
}

<div>
    <div class="login-card container">
        <form asp-action="Add" class="form">
        <h2 class="row">AddUSER</h2>
        <label>Nome: <input type="text" name="Name" id="User"></label>
        <label>Senha: <input type="text" name="Password" id="Password"></label>
        <button type="submit" class="btn btn">ADD User</button>
        </form>
    </div>
</div>
